<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <target Type="Mongo"
           name="mongo"
           includeDefaults="True"
           connectionString="mongodb://localhost:27017/NLogDb"
           collectionName="log-${shortdate}"
           databaseName="NLogDb">
    <property name="LongDate" layout="${longdate}" bsonType="DateTime" />
    <property name="Level" layout="${level}"/>
    <property name="Message" layout="${message}"/>
  </target>

</configuration>